.project-tiles {
    width: 23vw;
    height: 44vh;
}
.project-tiles:hover {
    opacity: 0.8;
    transition: 0.5s ease-in-out;
}

.project-tiles-image {
    height: 30vh;
    width: 18vw;
}

@media screen and (max-width: 1024px){
    .project-tiles{
        width: 100%;
        height: 250px;
    }

    .project-tiles-image {
        height: 100px;
        width: 100px;
    }
}
