.login-form-label {
    width: 300px;
    height: 20px;
}

.login-form-input-box {
    display: flex;
    flex-direction: row;
    margin-inline: 10px;
    margin-block: 2px;
}

.login-form-submit-button{
    width: 300px;
    height: 40px;
    background: rgb(0, 222, 7);
    transition: 1s ease-in-out;
    margin-block: 1rem;
    margin-inline: 10px;
}

.login-form-submit-button:hover{
    background: rgba(0, 222, 7,0.6);
}